<a href="https://colab.research.google.com/github/Tanwar1985/Python-tutorial/blob/main/Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(10)

10

In [3]:
x = lambda a : a + 10
print(x(5))

15

In [10]:
num_list=[1,2,3,3,3,3,3]

transform_x = lambda x : x**3 if(x%2 == 0) else x**2
for i in num_list:
  print(transform_x(i))
  #print((lambda x : x**3 if(x%2 == 0) else x**2)(i))

1
8
9
9
9
9
9

In [21]:
from functools import reduce

myvar = lambda n: reduce(lambda x, o: x + [x[-1] + x[-2]], range(n - 2), [0, 1])

n = 4
myvar_se = myvar(n)
print(myvar_se)

[0, 1, 1, 2]